*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}

.header{
    background-color: rgb(197, 161, 231);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 3%;
}
/* LIST */
.list{
    display: flex;
    gap: 20px;
}
.list li{
    font-size: 30px;
    list-style-type: none;
    margin: 5%;
    cursor: pointer;
}
li a{
    text-decoration: none;
    
}
li input{
    margin-right: 5%;
}

.li{
    list-style-type: none;
    font-size: 20px;
    margin: 0.5%;
}
/* checkbox */
.liLesson{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
 }
 .checkbox {
    transform: scale(1.5); /* Увеличиваем размер чекбокса */
}
/*  */

.two{
    display: flex;
    justify-content: center;
    width: 1400px;
}
.two img{
    width: 50%;
}

/* IMAGE */
.image{
    width: 80%;
    margin: 0 auto;
}
img{
    margin: 0 auto;
    width: 100%;
}

.otwet{
    margin: 0 auto;
    width: 50%;
}
.images{
 display: flex;

}
/* TEXT */
h1{
    font-size: 44px;
    text-align: center;
    color: red;
    margin: 2%;
}
h2{
    font-size: 34px;
    text-align: center;
    color: green;
    margin: 2%;
}
h3{
    font-size: 28px;
    text-align: center;
    color: green;
    margin: 2%;
}

.p{
    font-size: 24px;
    margin: 2%;
}
.red{
    color: red;
}
/* VIDEO */
.video{
    width: 100%;
    height: auto;
    margin: 2% 0;
}
.video iframe{
    width: 100%;
    height: 800px;
}