.open-modal {
  cursor: pointer;
  color: #18c24e;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
   z-index: 9999; /* ВАЖНО */
}

.modal-content img {
  max-width: 90%;
  max-height: 80vh;
  border-radius: 10px;
}