*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
}

.header{
    background-color: rgb(197, 161, 231);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 3%;
}
/* LIST */
.list{
    display: flex;
    gap: 20px;
}
.list li{
    font-size: 30px;
    list-style-type: none;
    margin: 5%;
    cursor: pointer;
}
li a{
    text-decoration: none;
    
}
li input{
    margin-right: 5%;
}

.li{
    list-style-type: none;
    font-size: 20px;
    margin: 0.5%;
}
ol>li{
    font-size: 22px;
}
/*  */
.titleUl{
    color: rgb(10, 162, 162);
    font-style: italic;
    font-weight: bold;
}
.titleUl li{
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
/* checkbox */
.liLesson{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
 }
 .checkbox {
    transform: scale(1.5); /* Увеличиваем размер чекбокса */
}
/* TWO */

.two{
    display: flex;
    justify-content: space-around;
    width: 1400px;
}
.two img{
    width: 50%;
}

/* IMAGE */
.image{
    width: 80%;
    margin: 0 auto;
}
img{
    margin: 0 auto;
    width: 100%;
}

.otwet{
    margin: 0 auto;
    width: 50%;
}
.images{
 display: flex;

}

/* VIDEO */
.video{
    width: 70%;
    height: auto;
    margin: 2% auto;
}
.video iframe{
    width: 100%;
    height: 650px;
}

.btn{
    background-color: burlywood;
    padding: 0.5%;
    border-radius: 10px;
    cursor: pointer;
}

/* AUDIO */
.audio{
    margin: 1% auto;
    width: 20%;
}

/*  */
.blockZadanie{
    width: 90%;
   border: 1px solid gray;
   padding: 5px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* небольшая тень */
   transition: transform 0.3s ease, box-shadow 0.3s ease; /* плавные переходы */
   border-top: 2px solid rgb(176, 80, 255);
   margin: 20px auto;
}

.flex{
    display: flex;
    flex-direction: column;
 }
button{
    background-color: rgb(200, 127, 255);
    border-radius: 50px;
    font-size: 18px;
    margin: 3% 3%;
    cursor: pointer;
    width: 120px;
    height: 30px;
 }
 .correct {
    background-color: green;
    color: white;
 }
 
 .incorrect {
    background-color: red;
    color: white;
 }
 
 .options {
    display: flex;
    gap: 1px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
 }
 
 .option {
    cursor: pointer;
    margin-top: 1%;
   
 }

 .bigRadio{
    width: 150px;
    height: 20px;
 }
 /* -------------- POKAZ OTWETA OPTIMA -------------*/
.hint2-container {
    background-color: #e8f4fd;
    border-radius: 10px;
    border: 1px solid #b9d6f3;
    padding: 5px 20px;
    margin: 20px auto;
    cursor: pointer;
    width: 90%;
    position: relative;
    overflow: hidden;
 }
 
 /* Заголовок блока */
 .hint2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #2d2d2d;
 }
 
 /* Левый значок (иконка) через ::before */
 .hint2-header::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-image: url('./image/shapka.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
 }
 
 /* Стрелка справа через ::after */
 .hint2-header::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./image/strelkaVerch.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
 }
 
 /* Контент с текстом */
 .hint2-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, padding 0.3s ease-in-out;
    padding: 0 2px 0 2px;
    opacity: 0; /* Для плавного появления и исчезновения текста */
    transition: opacity 0.3s ease-in-out, max-height 0.6s ease-in-out, padding 0.6s ease-in-out;
 }
 .hint2-content p{
    font-size: 18px;
 }
 
 /* Раскрытие блока */
 .hint2-container.active .hint2-content {
    padding: 0 2px 5px 2px;
    max-height: 1000px; /* Достаточно для раскрытия текста */
    opacity: 1; /* Плавное появление */
    
    max-width: 100%;
 }
 
 /* Плавное скрытие иконки при активации */
 .hint2-container.active .hint2-header::before {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
 }
 
 /* Поворот стрелки при активации */
 .hint2-container.active .hint2-header::after {
    transform: rotate(180deg);
 }
 
 /* ---------- END POKAZ OTWETA OPTIMA ------------------ */
 .marginLeft{
    margin-left: 3%;
    width: 100%;
 }

 /* стили к заданию выбор правильной кнопки */
 .button-container {
    margin: 10px 0;
}

.answerBtn {
    padding: 5px;
    padding-bottom: 10px;
    margin: 0 5px;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.selected {
    border-color: blue;
}
/*  */